* {
    box-sizing: border-box;
}

body {
    margin: 0px;
	background-color: #e9ebee;
}

html {
    font-family: "Lucida Sans", sans-serif;
}

.f-14 {
	font-size: 14px;
}

.f-13 {
	font-size: 13px;
}

.f-12 {
	font-size: 12px;
}

.f-11 {
	font-size: 12px;
}

.f-10 {
	font-size: 10px;
}

.f-18 {
	font-size: 18px;
}

.f-20 {
	font-size: 20px;
}

.f-25 {
	font-size: 25px;
}

.f-55 {
	font-size: 55px;
}

.f-grey {
	color: #616770;
}	

.f-bold {
	font-weight: bold;
}

.f-light {
	font-weight: lighter;
}

.f-blue {
	color: #91c0f8;
}

.f-black {
	color: #3a3939;
}

.flex {
	display: flex;
}

.left {
	float: left;
}

.right {
	float: right;
}

.clearfix {
	clear: both;
}

.wh-12 {
	height: 12px;
	width: 12px;
}

.wh-14 {
	height: 14px;
	width: 14px;
}

.wh-16 {
	height: 16px;
	width: 16px;
}

.wh-18 {
	height: 18px;
	width: 18px;
}

.wh-20 {
	height: 20px;
	width: 20px;
}

.wh-25 {
	height: 25px;
	width: 25px;
}

.wh-32 {
	height: 32px;
	width: 32px;
}

.wh-34 {
	height: 34px;
	width: 34px;
}

.wh-40 {
	height: 40px;
	width: 40px;
}

.wh-45 {
	height: 45px;
	width: 45px;
}

.w-100 {
	width: 100%;
}

.h-100 {
	height: 100%;
}

.round {
	border-radius: 50%;
}

.rel {
	position: relative;
}

.fixed {
	position: fixed;
}

.top-right {
	position: absolute;
	top: 10px;
	right: 10px;
}

.pointer {
	cursor: pointer;
}

.bg-image {
	background-repeat: no-repeat;
    background-size: auto;
}

.m-auto {
	margin-left: auto;
	margin-right: auto;
}

.m-horizontal-5 {
	margin: 0 5px;
}

.margin-5 {
	margin: 5px 0px;
}

.small-image {
	border-radius: 50%;
	width: 25px;
	height: 25px;
}

.m-bottom-10 {
	margin-bottom: 10px;
}

.m-bottom-5 {
	margin-bottom: 5px;
}

.w-auto {
	width: auto;
}

.padding-12 {
	padding: 12px;
}

.main {
	margin-top: 20px;
	display: flex;
}

.left-side {
	width: 200px;
	padding-left: 25px;
	margin-right: 10px;
}

.right-side {
    width: calc(100% - 200px);
	padding: 10px;
	background-color: #193f7e;
	margin-right: 10px;
}

.left-side > div {
    border-bottom: 1px solid #4b72ac;
    padding: 10px;
    background-color: #193f7e;
    cursor: pointer;
    color: white;
}

.left-side > div.active {
    background-color: #0b2043;
    font-weight: bold;
    font-size: 18px;
}

.center-container {
	text-align: center;
	color: white;
}

.detailed-info {
	margin: 40px;
	color: white;
}

.detailed-info > div {
	margin-bottom: 10px;
}

.main-row {
    overflow: scroll;
    white-space: nowrap;
	padding-bottom: 10px;
}

.row {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #4b72ac;
	line-height: 64px;
}

.column {
	display: inline-block;
    margin-right: 20px;
	text-align: center;
}

.humidity{
    width: 110px;
    height: 110px;
}

.percent {
    top: 38px;
    position: absolute;
    font-size: 30px;
    left: 26px;
    transform: rotate(140deg);
}

.circle {
    position: relative;
    top: 5px;
    left: 5px;
    text-align: center;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: #193f7e;
}

.level {
    position: relative;
    text-align: center;
    width: 110px;
    height: 110px;
    border-radius: 100%;
	transform: rotate(-140deg);
    background-color:#39B4CC;
    background-image:
        linear-gradient(91deg, transparent 50%, #A2ECFB 50%),
        linear-gradient(90deg, #A2ECFB 50%, transparent 50%);
    
}

.bottom-line {
	transform: rotate(140deg);
    position: absolute;
    left: -33px;
    width: 100%;
    top: 4px;
    height: 20px;
    background-color: #193f7e;
}

.section {
	border-bottom: 1px solid #4b72ac;
    margin-top: 10px;
    padding-bottom: 10px;
}

.section:last-child {
    padding-bottom: 0;
    border-color: #e9ebee;
}

.section-title {
	font-size: 18px;
	margin-bottom: 10px;
}

.even-flex {
	display: flex;
	justify-content: space-evenly;
}

.wind {
	width: 110px;
    height: 110px;
    padding-top: 0px;
    background: url(../icons/bg_qari.png);
    background-repeat: no-repeat;
}

.big-mill {
	background: url(../icons/b1.png);
    width: 60px;
    height: 60px;
    margin-top: -14px;
    margin-left: -9px;
     -webkit-animation:spin 1s linear infinite;
    -moz-animation:spin 1s linear infinite;
    animation:spin 1s linear infinite;
}

.small-mill {
	background: url(../icons/b2.png);
    width: 34px;
    height: 34px;
    margin-top: -32px;
    margin-left: 21px;
     -webkit-animation:spin 1s linear infinite;
    -moz-animation:spin 1s linear infinite;
    animation:spin 1s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.sun-movement {
	position: relative;
    width: 350px;
    height: 175px;
    overflow: hidden;
}

.orbit {
	width: 90%;
    height: 180%;
    border-radius: 50%;
    border: 1px dashed #fff;
    margin-left: 5%;
    margin-top: 10%;
}

.sunrise-time, .sunset-time {
	position: absolute;
    top: 86%;
}

.sunrise-time {
    left: 35px;
}

.sunset-time {
    right: 35px;
}

.custom-sun {
    width: 100%;
    height: 100%;
    transform: rotate(-44deg); 
   transition: transform 2s ease-in-out;
}
    
.inner {
    position: absolute;
    left: 30px;
    top: 0px;
    display: block;
}


::-webkit-scrollbar {
  width: 0px;
  height: 10px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 4px #9dc7f9;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  -webkit-box-shadow: inset 0 0 18px #56a0ee;
}

@media only screen and (max-width: 1250px) {
	
	
}

@media only screen and (max-width: 1020px) {
	
}

@media only screen and (max-width: 860px) {
	
}

@media only screen and (max-width: 720px) {
	
}

/* Animations */
html { box-sizing: border-box; }
html *,
html *:before,
html *:after { box-sizing: inherit; }


h1 {
  margin-bottom: 1.375em;
  color: #fff;
  font-weight: 100;
  font-size: 2em;
  text-transform: uppercase;
}
p,
a {
  color: rgba(255,255,255,0.3);
  font-size: small;
}
p { margin: 1.375rem 0; }

.icon {
	color: #193f7e;
  position: relative;
  display: inline-block;
  width: 12em;
  height: 10em;
  font-size: 1em; /* control icon size here */
}

.cloud {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 3.6875em;
  height: 3.6875em;
  margin: -1.84375em;
  background: #193f7e;
  border-radius: 50%;
  box-shadow:
    -2.1875em 0.6875em 0 -0.6875em,
    2.0625em 0.9375em 0 -0.9375em,
    0 0 0 0.375em #fff,
    -2.1875em 0.6875em 0 -0.3125em #fff,
    2.0625em 0.9375em 0 -0.5625em #fff;
}
.cloud:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: -0.5em;
  display: block;
  width: 4.5625em;
  height: 1em;
  background: #193f7e;
  box-shadow: 0 0.4375em 0 -0.0625em #fff;
}
.cloud:nth-child(2) {
  z-index: 0;
  background: #fff;
  box-shadow:
    -2.1875em 0.6875em 0 -0.6875em #fff,
    2.0625em 0.9375em 0 -0.9375em #fff,
    0 0 0 0.375em #fff,
    -2.1875em 0.6875em 0 -0.3125em #fff,
    2.0625em 0.9375em 0 -0.5625em #fff;
  opacity: 0.3;
  transform: scale(0.5) translate(6em, -3em);
  animation: cloud 4s linear infinite;
}
.cloud:nth-child(2):after { background: #fff; }

.sun {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2.5em;
  height: 2.5em;
  margin: -1.25em;
  background: #193f7e;
  border-radius: 50%;
  box-shadow: 0 0 0 0.375em #fff;
  animation: spin 12s infinite linear;
}
.rays {
  position: absolute;
  top: -2em;
  left: 50%;
  display: block;
  width: 0.375em;
  height: 1.125em;
  margin-left: -0.1875em;
  background: #fff;
  border-radius: 0.25em;
  box-shadow: 0 5.375em #fff;
}
.rays:before,
.rays:after {
  content: '';
  position: absolute;
  top: 0em;
  left: 0em;
  display: block;
  width: 0.375em;
  height: 1.125em;
  transform: rotate(60deg);
  transform-origin: 50% 3.25em;
  background: #fff;
  border-radius: 0.25em;
  box-shadow: 0 5.375em #fff;
}
.rays:before {
  transform: rotate(120deg);
}
.cloud + .sun {
  margin: -2em 1em;
}

.rain,
.lightning,
.snow {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  width: 3.75em;
  height: 3.75em;
  margin: 0.375em 0 0 -2em;
  background: #193f7e;
}

.rain:after {
  content: '';
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  width: 1.125em;
  height: 1.125em;
  margin: -1em 0 0 -0.25em;
  background: #0cf;
  border-radius: 100% 0 60% 50% / 60% 0 100% 50%;
  box-shadow:
    0.625em 0.875em 0 -0.125em rgba(255,255,255,0.2),
    -0.875em 1.125em 0 -0.125em rgba(255,255,255,0.2),
    -1.375em -0.125em 0 rgba(255,255,255,0.2);
  transform: rotate(-28deg);
  animation: rain 3s linear infinite;
}

.bolt {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -0.25em 0 0 -0.125em;
  color: #fff;
  opacity: 0.3;
  animation: lightning 2s linear infinite;
}
.bolt:nth-child(2) {
  width: 0.5em;
  height: 0.25em;
  margin: -1.75em 0 0 -1.875em;
  transform: translate(2.5em, 2.25em);
  opacity: 0.2;
  animation: lightning 1.5s linear infinite;
}
.bolt:before,
.bolt:after {
  content: '';
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  margin: -1.625em 0 0 -1.0125em;
  border-top: 1.25em solid transparent;
  border-right: 0.75em solid;
  border-bottom: 0.75em solid;
  border-left: 0.5em solid transparent;
  transform: skewX(-10deg);
}
.bolt:after {
  margin: -0.25em 0 0 -0.25em;
  border-top: 0.75em solid;
  border-right: 0.5em solid transparent;
  border-bottom: 1.25em solid transparent;
  border-left: 0.75em solid;
  transform: skewX(-10deg);
}
.bolt:nth-child(2):before {
  margin: -0.75em 0 0 -0.5em;
  border-top: 0.625em solid transparent;
  border-right: 0.375em solid;
  border-bottom: 0.375em solid;
  border-left: 0.25em solid transparent;
}
.bolt:nth-child(2):after {
  margin: -0.125em 0 0 -0.125em;
  border-top: 0.375em solid;
  border-right: 0.25em solid transparent;
  border-bottom: 0.625em solid transparent;
  border-left: 0.375em solid;
}

.flake:before,
.flake:after {
  content: '\2744';
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -1.025em 0 0 -1.0125em;
  color: #fff;
  list-height: 1em;
  opacity: 0.2;
  animation: spin 8s linear infinite reverse;
}
.flake:after {
  margin: 0.125em 0 0 -1em;
  font-size: 1.5em;
  opacity: 0.4;
  animation: spin 14s linear infinite;
}
.flake:nth-child(2):before {
  margin: -0.5em 0 0 0.25em;
  font-size: 1.25em;
  opacity: 0.2;
  animation: spin 10s linear infinite;
}
.flake:nth-child(2):after {
  margin: 0.375em 0 0 0.125em;
  font-size: 2em;
  opacity: 0.4;
  animation: spin 16s linear infinite reverse;
}


/* Animations */ 

@keyframes spin {
  100% { transform: rotate(360deg); }
}

@keyframes cloud {
  0% { opacity: 0; }
  50% { opacity: 0.3; }
  100% {
    opacity: 0;
    transform: scale(0.5) translate(-200%, -3em);
  }
}

@keyframes rain {
  0% {
    background: #0cf;
    box-shadow:
      0.625em 0.875em 0 -0.125em rgba(255,255,255,0.2),
      -0.875em 1.125em 0 -0.125em rgba(255,255,255,0.2),
      -1.375em -0.125em 0 #0cf;
  }
  25% {
    box-shadow:
      0.625em 0.875em 0 -0.125em rgba(255,255,255,0.2),
      -0.875em 1.125em 0 -0.125em #0cf,
      -1.375em -0.125em 0 rgba(255,255,255,0.2);
  }
  50% {
    background: rgba(255,255,255,0.3);
    box-shadow:
      0.625em 0.875em 0 -0.125em #0cf,
      -0.875em 1.125em 0 -0.125em rgba(255,255,255,0.2),
      -1.375em -0.125em 0 rgba(255,255,255,0.2);
  }
  100% {
    box-shadow:
      0.625em 0.875em 0 -0.125em rgba(255,255,255,0.2),
      -0.875em 1.125em 0 -0.125em rgba(255,255,255,0.2),
      -1.375em -0.125em 0 #0cf;
  }
}

@keyframes lightning {
  45% {
    color: #fff;
    background: #fff;
    opacity: 0.2;
  }
  50% {
    color: #0cf;
    background: #0cf;
    opacity: 1;
  }
  55% {
    color: #fff;
    background: #fff;
    opacity: 0.2;
  }
}


