* {
    box-sizing: border-box;
}

body {
    margin: 0px;
	background-color: #193f7e;
}

html {
    font-family: "Lucida Sans", sans-serif;
}

.roboto{
    font-family: 'Roboto', sans-serif;
}

.f-14 {
	font-size: 14px;
}

.f-13 {
	font-size: 13px;
}

.f-12 {
	font-size: 12px;
}

.f-11 {
	font-size: 12px;
}

.f-10 {
	font-size: 10px;
}

.f-18 {
	font-size: 18px;
}

.f-20 {
	font-size: 20px;
}

.f-25 {
	font-size: 25px;
}

.f-55 {
	font-size: 55px;
}

.f-grey {
	color: #616770;
}	

.f-bold {
	font-weight: bold;
}

.f-light {
	font-weight: lighter;
}

.f-blue {
	color: #91c0f8;
}

.f-black {
	color: #3a3939;
}

.flex {
	display: flex;
}

.left {
	float: left;
}

.right {
	float: right;
}

.clearfix {
	clear: both;
}

.wh-12 {
	height: 12px;
	width: 12px;
}

.wh-14 {
	height: 14px;
	width: 14px;
}

.wh-16 {
	height: 16px;
	width: 16px;
}

.wh-18 {
	height: 18px;
	width: 18px;
}

.wh-20 {
	height: 20px;
	width: 20px;
}

.wh-25 {
	height: 25px;
	width: 25px;
}

.wh-32 {
	height: 32px;
	width: 32px;
}

.wh-34 {
	height: 34px;
	width: 34px;
}

.wh-40 {
	height: 40px;
	width: 40px;
}

.wh-45 {
	height: 45px;
	width: 45px;
}

.w-100 {
	width: 100%;
}

.h-100 {
	height: 100%;
}

.round {
	border-radius: 50%;
}

.rel {
	position: relative;
}

.fixed {
	position: fixed;
}

.top-right {
	position: absolute;
	top: 10px;
	right: 10px;
}

.pointer {
	cursor: pointer;
}

.bg-image {
	background-repeat: no-repeat;
    background-size: auto;
}

.m-auto {
	margin-left: auto;
	margin-right: auto;
}

.m-horizontal-5 {
	margin: 0 5px;
}

.margin-5 {
	margin: 5px 0px;
}

.small-image {
	border-radius: 50%;
	width: 25px;
	height: 25px;
}

.m-bottom-10 {
	margin-bottom: 10px;
}

.m-bottom-5 {
	margin-bottom: 5px;
}

.w-auto {
	width: auto;
}

.padding-12 {
	padding: 12px;
}

.main {
	display: flex;
}

.header {
	position: relative;
    color: #fff;
    margin: 10px;
	padding-bottom: 5px;
	transition: transform 1s ease-in-out;
}

#logo-img {
	transition: transform 1s ease-in-out;
}

#logo-text {
	transition: transform 1s ease-in-out;
}

.header > img {
	opacity: 0.7;
}

.transformed {
	transform: translateX(-250%);
}

.header > img:hover {
	opacity: 1;
}

.app-name {
	font-weight: bold;
    position: absolute;
    bottom: 6px;
    left: 51px;
}

.burger-menu {
	position: absolute;
	left: 10px;
    width: 45px;
    padding: 3px;
    opacity: 0.7;
	cursor: pointer;
	z-index: 11;
}

.overlay {
	position: fixed;
	background-color: #193f7e;
	width: 0;
	height: 100%;
	z-index: 10;
	transition: width 1s ease-in-out;
}

.menu {
	width: 200px;
	transition: width 1s ease-in-out;
}

.burger-menu:hover {
	opacity: 1;
}

.left-side {
	width: 200px;
	margin-left: 10px;
}

.hidden {
	width: 0px;
}

.right-side {
    width: calc(100% - 200px);
	padding: 10px;
	background-color: #193f7e;
	margin-right: 10px;
	transition: width 1s ease-in-out;
}

.left-side > div {
	border-left: 1px solid #fff;
	margin-bottom: 5px;
    padding: 10px;
    background-color: #193f7e;
    cursor: pointer;
    color: white;
}

.left-side > div:hover {
    background-color: #b8a518;
}

.left-side > div.active {
    background-color: #b8a518;
}

.center-container {
	text-align: center;
	color: white;
}

.detailed-info {
	margin: 10px;
	color: white;
}

.main-row {
    overflow: scroll;
    white-space: nowrap;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.row {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #4b72ac;
	line-height: 64px;
	margin-bottom: 10px;
}

.column {
	display: inline-block;
    margin-right: 20px;
	text-align: center;
}

.humidity{
    width: 110px;
    height: 110px;
}

.percent {
    top: 38px;
    position: absolute;
    font-size: 30px;
    left: 26px;
    transform: rotate(140deg);
}

.circle {
    position: relative;
    top: 5px;
    left: 5px;
    text-align: center;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: #193f7e;
}

.level {
    position: relative;
    text-align: center;
    width: 110px;
    height: 110px;
    border-radius: 100%;
	transform: rotate(-140deg);
    background-color:#fff;
    background-image:
        linear-gradient(91deg, transparent 50%, #A2ECFB 50%),
        linear-gradient(90deg, #A2ECFB 50%, transparent 50%);
    
}

.bottom-line {
	transform: rotate(140deg);
    position: absolute;
    left: -33px;
    width: 100%;
    top: 4px;
    height: 20px;
    background-color: #193f7e;
}

.section {
	border-bottom: 1px solid #4b72ac;
    margin-top: 10px;
    padding-bottom: 10px;
}

.section:last-child {
    padding-bottom: 0;
    border-color: #e9ebee;
}

.section-title {
	font-size: 18px;
	margin-bottom: 10px;
}

.even-flex {
	display: flex;
	justify-content: space-evenly;
}

.wind {
	width: 110px;
    height: 110px;
    padding-top: 0px;
    background: url(../icons/bg_qari.png);
    background-repeat: no-repeat;
}

.big-mill {
	background: url(../icons/b1.png);
    width: 60px;
    height: 60px;
    margin-top: -14px;
    margin-left: -9px;
     -webkit-animation:spin 1s linear infinite;
    -moz-animation:spin 1s linear infinite;
    animation:spin 1s linear infinite;
}

.small-mill {
	background: url(../icons/b2.png);
    width: 34px;
    height: 34px;
    margin-top: -32px;
    margin-left: 21px;
     -webkit-animation:spin 1s linear infinite;
    -moz-animation:spin 1s linear infinite;
    animation:spin 1s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.sun-movement {
	position: relative;
    width: 350px;
    height: 175px;
    overflow: hidden;
}

.orbit {
	width: 90%;
    height: 180%;
    border-radius: 50%;
    border: 1px dashed #fff;
    margin-left: 5%;
    margin-top: 10%;
}

.sunrise-time, .sunset-time {
	position: absolute;
    top: 86%;
}

.sunrise-time {
    left: 35px;
}

.sunset-time {
    right: 35px;
}

.custom-sun {
    width: 100%;
    height: 100%;
    transform: rotate(-44deg); 
   transition: transform 2s ease-in-out;
}
    
.inner {
    position: absolute;
    left: 30px;
    top: 0px;
    display: block;
}


::-webkit-scrollbar {
  width: 0px;
  height: 7px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 4px #9dc7f9;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  -webkit-box-shadow: inset 0 0 18px #56a0ee;
}

@media only screen and (max-width: 1250px) {
	
	
}

@media only screen and (max-width: 1020px) {
	
}

@media only screen and (max-width: 860px) {
	
}

@media only screen and (max-width: 720px) {
	.inner {
		left: 10px;
	}
	
	.sun-movement {
		width: 280px;
		height: 140px;
	}
}




